/* ==========================================================================
   Title responsive style - begin
   ========================================================================== */

@include ipad-landscape {
    
    .mkd-title {
        
        &.mkd-has-background {
            background: rgba(0, 0, 0, 0) none repeat scroll 0 0 !important;
            height: auto !important;
            padding: 0 !important;
        }
        
        &.mkd-title-image-not-responsive {
            
            .mkd-title-image {
                display: block;
            }
        }
        
        .mkd-title-holder {
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            height: 100% !important;
            padding: 0 !important;
            
            .mkd-container {
                display: block;
                height: 100%;
            }
            
            .mkd-container-inner {
                display: table;
                height: 100%;
            }
            
            .mkd-title-subtitle-holder {
                display: table-cell;
                vertical-align: middle;
                width: 100%;
                padding: 0px !important;
            }
        }
    }
}

@include ipad-portrait {
    
    .mkd-title {
        
        &.mkd-standard-type {
            
            .mkd-breadcrumbs-holder {
                position: relative !important;
                top: auto !important;
                left: auto !important;
                right: auto !important;
                width: 100%;
            }
        }
    }
}
/* ==========================================================================
   Title responsive style - end
   ========================================================================== */