.mkd-header-centered {
    .mkd-page-header {
        .mkd-logo-area {
            height: 206px;
            z-index: 2; //to be above menu area in order to cover shadow
            overflow: visible;

            .mkd-logo-wrapper a {
                max-height: 185px; //206*0.9
            }

            box-sizing: border-box;
        }

        .mkd-menu-area {
            z-index: 1;
            height: 60px;

            box-sizing: border-box;

            .mkd-vertical-align-containers {
                .mkd-position-center-inner {
                    height: 100%;
                }
            }
        }

        .mkd-page-header .mkd-sticky-header {
            .mkd-position-left-inner {
                height: auto;
            }

            .mkd-position-right-inner {
                height: 100%;
            }
        }
    }
}

