@import "blocks/_logo";
@import "blocks/_widgets";
@import "blocks/navigation/_navigation";

$closed-vertical-menu-width: 70px;

.mkd-header-vertical-closed {
    .mkd-content,
    footer{
        padding-left: $closed-vertical-menu-width;
        box-sizing: border-box;
    }

	.mkd-vertical-menu-area {
        position: fixed;
        width: $vertical-menu-width;
        top: 0;
        left: calc(#{$closed-vertical-menu-width} - #{$vertical-menu-width});
        padding: 52px 68px 10px;
        background-color: #fafafa;
        height: 100%;
        z-index: 101;
        -webkit-backface-visibility: hidden;
	    box-sizing: border-box;
        outline: none;
		@include mkdTransition(left .15s ease-out);

		.mkd-vertical-area-opener {
			position: fixed;
			width: $closed-vertical-menu-width;
			height: $closed-vertical-menu-width;
			left: 0;
			top: 0;
			z-index: 1000;

			.mkd-vertical-area-opener-line {
				position: absolute;
				top: 50%;
				left: 50%;
				display: block;
				margin-left: -10px;
				width: 20px;
				height: 3px;
				background-color: $first-main-color;
				@include mkdTransition(all .3s cubic-bezier(0.585,-0.600,0.430,1.650));

				&:before {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					background-color: $first-main-color;
					left: 0;
					top: -6px;
					@include mkdTransition(all .3s cubic-bezier(0.585,-0.600,0.430,1.650));
				}
				&:after {
					content: '';
					position: absolute;
					width: 100%;
					height: 3px;
					background-color: $first-main-color;
					left: 0;
					bottom: -6px;
					@include mkdTransition(all .3s cubic-bezier(0.585,-0.600,0.430,1.650));
				}

			}
		}

		.mkd-vertical-menu {
			opacity: 0;
			@include mkdTransition(opacity .15s ease-out);

			.second {
				.inner {
					ul {
						li {
							a {
								text-transform: none;
							}
						}
					}
				}
			}
		}

	    &.active {
		    left: 0;
		    .mkd-vertical-area-opener {

				left: 220px;

			    .mkd-vertical-area-opener-line {
				    background-color: transparent;

				    &:before {
					    @include mkdTransform(rotate(45deg) translate(3px,8px));
					    top: -8px;
				    }
				    &:after {
					    @include mkdTransform(rotate(-45deg) translate(3px,-8px));
					    bottom: -8px;
				    }

			    }
		    }

		    .mkd-vertical-menu {
			    opacity: 1;
		    }
	    }


    }

    .mkd-vertical-menu-area-inner {
        @include mkdRelativeHolderLayout();
        height: 100%;
    }

    &.admin-bar .mkd-vertical-menu-area {
        top: 33px;
    }

    .mkd-vertical-menu-area.mkd-with-scroll {
        overflow: hidden;
    }

    .mkd-vertical-area-background {
        position: fixed;
        width: $vertical-menu-width;
        height: 100%;
        background-position: right top;
        background-repeat: no-repeat;
        background-color: #fafafa;
        background-size: cover;
        top: 0;
	    left: calc(#{$closed-vertical-menu-width} - #{$vertical-menu-width});
        z-index: 0;
        opacity: 1;

        @include mkdTransition(opacity 0.5s ease, background-color 0.5s ease, left .15s ease);
    }

	.active .mkd-vertical-area-background {
		left: 0;
	}

	.mkd-vertical-area-bottom-logo {
		top: $closed-vertical-menu-width;
		left:0;
		position: fixed;
		width: $closed-vertical-menu-width;
		height: 100%;
		text-align: center;
		bottom: 25px;
		z-index: 1000;
		@include mkdTransition(left .15s ease-in-out);

		.mkd-vertical-area-bottom-logo-inner {
			position: absolute;
			bottom: 90px;
			box-sizing: border-box;
			text-align: center;
			width: 100%;
			padding: 0 10px;
		}

		&.active {
			left: - $closed-vertical-menu-width;;
		}

	}
	
}