/* ==========================================================================
# Search template responsive style - begin
========================================================================== */

@media only screen and (max-width: $ipad-landscape) {

    .search .mkd-content .mkd-content-inner > .mkd-container > .mkd-container-inner {
        padding: 40px 0 0;
    }

    .mkd-search-page-holder {

        article {

            .mkd-post-image {
                width: 82px;
            }

            .mkd-post-title-area {
                padding: 0 0 0 108px;
                min-height: 82px;
            }
        }
    }
}

@media only screen and (max-width: $phone-landscape) {

    .mkd-search-page-holder {

        article {

            .mkd-post-image {
                width: 72px;
            }

            .mkd-post-title-area {
                padding: 0 0 0 92px;
                min-height: 72px;
            }
        }
    }
}

/* ==========================================================================
# Search template responsive style - end
========================================================================== */