.placeHolder {
    position: absolute;
    display: block;
    padding: .5em;
    left: 65px;
    width: 90%;
}
.fBLogo {
    position: absolute;
    left: 70px;
    bottom: 79px;
    width: 16px;
}

.instaLogo {
    position: absolute;
    left: 66px;
    bottom: 39px;
    width: 24px;
}
