.placeHolder {
    position: relative;
    overflow: hidden;
    display: block;
    left: 11%;
    height: auto;
    max-width: 100%;
}

.fBLogo {
    position: absolute;
    left: 9.1%;
    bottom: 12%;
    width: 1.5%;
    max-width: 100%;
}

.instaLogo {
    position: absolute;
    left: 8.5%;
    bottom: 5%;
    width: 2.5%;
    max-width: 100%;
}

@viewport {
    zoom: 1.0;
    width: extend-to-zoom;
}

@-ms-viewport {
    width: extend-to-zoom;
    zoom: 1.0;
}
