.placeHolder {
    position: absolute;
    overflow: hidden;
    display: block;
    left: 11%;
    height: auto;
    max-width: 100%;
}

.fBLogo {
    position: absolute;
    left: 45.1%;
    bottom: 42%;
    width: 1.2%;
    max-width: 100%;
}

.instaLogo {
    position: absolute;
    left: 49.5%;
    bottom: 42%;
    width: 2.0%;
    max-width: 100%;
}

@viewport {
    width: device-width;
}

@-ms-viewport {
    width: device-width;
}

@media screen and (max-width: 600px) {
	.placeHolder {
		transform: scale(2);
		left: -1%;
		top: 12%;
	}

	.fBLogo {
		bottom: 59%;
		left: 42.9%;
		transform: scale(1.6);
	}

	.instaLogo {
	        bottom: 58.9%;
		left: 51.4%;
		transform: scale(1.6);
       }
}