/* ==========================================================================
   Blog List widget style - begin
   ========================================================================== */

.widget.mkd-blog-list-widget {
    margin: 0 0 20px;

    > h4 {
        margin: 0 0 15px;
    }

    footer .mkd-footer-top &,
    .mkd-top-bar & {

        > h2 {
            margin: 0 0 8px;
        }
    }
}
/* ==========================================================================
   Blog List widget style - end
   ========================================================================== */