/* ==========================================================================
   Image Slider widget style - begin
   ========================================================================== */

.widget.mkd-image-slider-widget {
    @include mkdRelativeHolderLayout();
    
    .mkd-is-widget-inner {
        @include mkdRelativeHolderLayout();
        visibility: hidden;
    }
    
    .mkd-widget-title {
        margin: 0 0 32px;
    }
    
    img {
        display: block;
    }
    
    .owl-dots {
        text-align: center;
        margin: 15px 0 0;
        
        .owl-dot {
            display: inline-block;
            vertical-align: middle;
            
            span {
                display: inline-block;
                vertical-align: middle;
                width: 10px;
                height: 10px;
                margin: 0 5px;
                border-radius: 3em;
                background-color: #ccc;
                box-sizing: border-box;
                @include mkdTransition(background-color .2s ease-out, width .2s ease-out, height .2s ease-out);
                
                .mkd-page-footer & {
                    background-color: rgba(#fff, .2);
                }
            }
            
            &.active {
                
                span {
                    width: 12px;
                    height: 12px;
                    background-color: $default-heading-color;
    
                    .mkd-page-footer & {
                        background-color: #fff;
                    }
                }
            }
        }
    }
    
    .owl-carousel .owl-item img {
        -webkit-transform: translateZ(0); //chrome text cut off fix
    }
}
/* ==========================================================================
   Image Slider widget style - end
   ========================================================================== */