/* ==========================================================================
   Blog Single Title Area Info style - begin
   ========================================================================= */

.mkd-blog-single-title-area-info {
	article {

		&.format-video {
			.mkd-post-heading {
				padding-bottom: 40px;
			}
		}

		&.format-gallery {
			.owl-nav {
				.mkd-prev-icon,
				.mkd-next-icon {
					font-size: 44px;
					color: rgba(255, 255, 255, .7);
				}
			}

			.mkd-post-heading {
				padding-bottom: 40px;
			}
		}

		&.format-audio {
			.mkd-post-heading {
				padding-bottom: 40px;
			}
		}

		&.format-link {

			margin-bottom: 110px;

			.mkd-post-additional-content {
				margin-bottom: 50px;
			}

			.mkd-post-content {
				margin-bottom: 40px;
			}

			.mkd-post-text-main {
				margin-bottom: 0;
			}

			.mkd-post-text-inner {
				margin-bottom: 0;
			}

			.mkd-post-text {
				padding: 50px 53px;
				background-color: #fbfbfb;
			}

			.mkd-post-text-main {
				@include mkdTableLayout();
			}

			.mkd-post-info-bottom {
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
			}

			.mkd-post-mark {
				@include mkdTableCellLayout();
				width: 50px;

				.mkd-link-mark {
					font-size: 36px;
					color: $first-main-color;
				}
			}

			.mkd-post-link-holder {
				@include mkdTableCellLayout();
			}

			.mkd-post-title {
				margin-bottom: 0;
				margin-top: 0;
			}
		}

		&.format-quote {

			margin-bottom: 110px;

			.mkd-post-additional-content {
				margin-bottom: 50px;
			}

			.mkd-post-content {
				margin-bottom: 40px;
			}

			.mkd-post-text-main {
				margin-bottom: 0;
			}

			.mkd-post-text-inner {
				margin-bottom: 0;
			}

			.mkd-post-text {
				padding: 50px 53px;
				padding-bottom: 42px;
				padding-top: 42px;
				background-color: #fafafa;
			}

			.mkd-post-text-main {
				@include mkdTableLayout();
				text-align: center;
			}

			.mkd-post-info-bottom {
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
			}

			.mkd-post-mark {
				@include mkdTableCellLayout();
				width: 50px;
				vertical-align: top;
				text-align: left;

				.mkd-quote-mark {
					padding-top: 5px;
					font-size: 36px;
					color: $first-main-color;
				}
			}

			.mkd-post-link-holder {
				@include mkdTableCellLayout();
				vertical-align: top;
				text-align: left;
			}

			.mkd-post-title {
				margin-bottom: 0;
				padding-bottom: 3px;
				font-size: 24px;
				color: $default-heading-color;
				font-weight: bold;
				letter-spacing: 0.1em;
				line-height: 1.83em
			}

			.mkd-quote-author {
				font-size: 12px;
				color: $default-text-color;
				letter-spacing: 0.1em;
				font-weight: bold;
			}

			.mkd-post-author {
				display: inline-block;
				margin-bottom: 23px;
				font-size: 13px;
				line-height: 20px;
			}
		}

		.mkd-post-text-inner {
			margin-bottom: 110px;
		}

		.mkd-post-text-main {
			margin-bottom: 55px;
		}
		.mkd-post-content {
			.mkd-post-info-bottom {
				text-align: center;
				margin-top: 0;
				margin-bottom: 0;
			}
		}

		.mkd-tags {
			a {
				display: inline-block;
				text-transform: uppercase;
				color: #848484;
				font-size: 9px;
				font-weight: 600;
				padding: 0 25px;
				background-color: transparent;
				border: 1px solid #d3d3d3;
				height: 29px;
				line-height: 31px;
				margin-right: 3px;
				margin-bottom: 10px;
			}
		}

	}
}

/* ==========================================================================
   Blog Single Title Area Info style - end
   ========================================================================= */