@import "blocks/_logo";
@import "blocks/_widgets";
@import "blocks/navigation/_navigation";

.mkd-header-vertical {

    .mkd-content,
    footer {
        padding-left: $vertical-menu-width;
        box-sizing: border-box;
    }

    .mkd-vertical-menu-area {
        position: fixed;
        width: $vertical-menu-width;
        top: 0;
        left: 0;
        height: 100%;
        padding: 52px 68px 10px;
        background-color: transparent;
        outline: none;
        z-index: 101;
        -webkit-backface-visibility: hidden;
        box-sizing: border-box;
    }

    .mkd-vertical-menu-area-inner {
        @include mkdRelativeHolderLayout();
        height: 100%;

        &.mkd-vertical-align-left {
            text-align: left;
        }

        &.mkd-vertical-align-center {
            text-align: center;

            .mkd-logo-wrapper img {
                margin: 0 auto;
            }
        }
    }

    .mkd-vertical-menu-area.mkd-with-scroll {
        overflow: hidden;
    }

    .mkd-vertical-area-background {
        position: fixed;
        top: 0;
        left: 0;
        width: $vertical-menu-width;
        height: 100%;
        background-color: #fafafa;
        background-position: right top;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: 0;
        opacity: 1;
        @include mkdTransition(opacity 0.5s ease, background-color 0.5s ease);
    }
}