.mkd-header-top-menu {
    .mkd-page-header {
        .mkd-logo-area {
            height: 80px;
            overflow: visible;
	        margin-top: 70px;
	        z-index: 99;

            .mkd-logo-wrapper a {
                max-height: 72px; //80*0.9
            }

            box-sizing: border-box;
        }

        .mkd-menu-area {
            position: fixed;
	        left: 0;
	        top: 0;
	        width: 100%;
	        height: 70px;
	        z-index: 100;

            box-sizing: border-box;

            .mkd-vertical-align-containers {
                .mkd-position-left-inner {
                    height: 100%;
                }
            }

        }

        .mkd-page-header .mkd-sticky-header {
            .mkd-position-left-inner {
                height: auto;
            }

            .mkd-position-right-inner {
                height: 100%;
            }
        }
    }
}
.admin-bar.mkd-header-top-menu {
	.mkd-page-header {

		.mkd-menu-area {
			top: 32px;
		}
	}
}
